* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.klc {
  background-color: rgba(23, 158, 221, 0.938);
  height: auto;
  width: 500px;
  margin: 20px auto;
}

.klc_sec {
  padding: 25px;
}

.header {
  text-align: center;
  margin: -10px;
}

.header input {
  width: 400px;
  margin-top: 10px;
  padding: 25px;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  align-items: center;
  align-self: center;
  background-color: rgba(30, 86, 112, 0.938);
}

.btn_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.btn {
  width: 70px;
  height: 70px;
  margin: 15px;
  font-size: 50px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}
